.myclass {
    text-align: center;
    font-size: 5vw;
    padding: 10vw;
    border: solid;
    background: repeating-radial-gradient(gray 20%, white 40%);
}
.myclass2 {
    text-align: center;
    font-size: 5vw;
    padding: 10vw;
    border: solid;
    background:repeating-linear-gradient(red 20%, yellow 40%);
}
